<ion-content [fullscreen]="true">
  <h3 class="uppercase font-bold p-5 border border-l-0 border-r-0 border-t-0">
    {{node().title}}
  </h3>
  <div>
    <div
      class="border border-red-600 p-3 rounded-lg bg-red-200 m-5"
      *ngIf="isToastOpen"
    >
      {{message()}}
    </div>
    <ul class="list-none">
      <li
        class="border-solid border-b-2 px-5 py-4 flex"
        *ngFor="let node of nodes$ | async"
      >
        <span class="flex-1">{{node.title}}</span>
        <button
          class="bg-red-500 rounded p-1 text-white"
          (click)="onDelete(node.id)"
        >
          delete
        </button>
      </li>
    </ul>
  </div>
</ion-content>
